html body {
    background-color: #fdfafa;
    height: 100%;
}
iframe {
    height: 100vh;
}

.CalendarDay__selected_span {
background: #eb6864;
border: 1px double #eb6864;
}

.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
    background: #eb6864;
    border: 1px double #eb6864;
}

.DateInput_input__focused {
    border-bottom: 2px solid #eb6864;
}
.DayPickerKeyboardShortcuts_show__bottomRight::before {
    border-top: 26px solid transparent;
    border-right: 33px solid #eb6864;
    bottom: 0;
    right: 0;
}
input {
    font: 400 10px "News Cycle", "Arial Narrow Bold", sans-serif;;
}
.DateInput_input {
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
}

.cardnumber {display: inline-block; margin-right: 12px}
.cardchange {display: inline-block}
.cardchange-p {display: inline-block; color: green}
.cardchange-n {display: inline-block; color: red}
