<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>QS App</title>

    <link href="{{url_for('static', filename = 'css/bootswatch.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'css/custom.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'favicon.ico')}}" rel="shortcut icon">
</head>
<body>



<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

      <a class="navbar-brand" href="/">QS App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {{ 'active' if active_page == 'fitness' else '' }}">
        <a class="nav-link" href="/fitness">Fitness</a>
      </li>
        <li class="nav-item {{ 'active' if active_page == 'heart' else '' }}">
        <a class="nav-link" href="/heart">Heart</a>
      </li>
        </li>
        <li class="nav-item {{ 'active' if active_page == 'sleep' else '' }}">
        <a class="nav-link" href="/sleep">Sleep</a>
      </li>


    </ul>
  </div>

  </div>
</nav>




{% block body %}


{% endblock %}


<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

</body>
</html>